.container {
    /* margin: 32px 0; */
}

.container .content {
    margin: 32px 16px;
}

.container .content .nameWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container .content .nameWrapper .name {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 0;
    color: #121212;
}

.container .content .nameWrapper .icon {
    cursor: pointer;
}

.container .content .item {
    display: flex;
    align-items: center;
    margin: 16px 0;
    cursor: pointer;
}

.container .content .item .info {
    flex: 2
    
}

.container .content .item .info .title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: #121212;
    margin: 4px 0;
}

.container .content .item .info .description {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    text-align: left;
    color: #464646;
    margin: 4px 0;
    max-width: 416px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .content .item .info .price {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #464646;
    margin: 4px 0;
}

.container .content .item .imgWrapper {
    width: 128px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

.container .content .item .imgWrapper .img {
    width: 128px;
    height: 85px;
    object-fit: cover;
    border-radius: 6px;
}