.container {
    background: #EEEEEE;
    margin: 5px 0px;
    padding: 6px 0px;
}

.container .wrapper {
    margin: 0px auto;
    max-width: 1024px;
}

.container .wrapper .cardWrapper {
    background: #F8F9FA;
    padding: 32px 40px;
    max-width: 1024px;
}

.container .wrapper .cardWrapper .card {
    background: #ffffff;
    box-shadow: #00000024 0px 2px 14px 0px;
}