.container {
    background: #EEEEEE;
    margin: 5px 0px;
    padding: 6px 0px;
}

.container .wrapper {
    margin: 0px auto;
    max-width: 1024px;
}

.container .wrapper .cardWrapper {
    background: var(--gray-bg);
    padding: 32px 40px;
    max-width: 1024px;
    display: flex;
}

.container .wrapper .cardWrapper .card {
    background: #ffffff;
    box-shadow: #00000024 0px 2px 14px 0px;
    flex: var(--flex);
    margin: 0 12px;
    height: fit-content;
}

@media only screen and (max-width: 950px) {
    .container, .container .wrapper, .container .wrapper .cardWrapper {
        background: #fff;
    }

    .container .wrapper {
        max-width: 100%;
    }

    .container .wrapper .cardWrapper {
        padding: 0;
        max-width: 100%;
    }

    .container .wrapper .cardWrapper .card {
        box-shadow: none;
        flex: unset;
        max-width: calc(100% - 24px);
        width: 100%;
    }

    .container .wrapper .cardWrapper .card:nth-of-type(2) {
        display: none;
    }
}